html, body
{
    width: 100%;
    height: 5000px;
    background-color: rgb(18, 13,10);
    /*background-image: url(header.png);
    background-size: contain;
    background-repeat: no-repeat;*/
    overflow-x: hidden;
    margin: 0;
}

#page-one
{
    width: 100%;
    height: auto;
    overflow-y: hidden;
    margin: auto;
}

#page-one img
{
    width: 100%;
    height: auto;
}

#page-two
{
    width: 100%;
    height: 25%;
}

.antegods-text
{
    width: 80%;
    height: 1080px;
    margin: auto;
}

.antegods-text img
{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}

.center-text
{
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 32px;
    color: rgb(255,139,121);
}

#page-three
{
    width: 90%;
    height: auto;
    margin: auto;
}

.fluidMedia 
{
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 5%;
}

.fluidMedia iframe 
{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

#page-four
{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

#antegods-screenshots
{
    width: 90%;
    height: auto;
    text-align: center;
    margin: auto;
}

#antegods-screenshots img
{
    width: 50%;
    height: auto;
    display: inline-block;
}

#page-five
{
    width: 90%;
    margin: auto;
    height: 10%;
}

#page-five img
{
    width: 50%;
    height: auto;
    display: inline-block;
}

#social-media-logos
{
    position: relative;
    width: 100%;
    height: 5%;
    margin: auto;
    background-color: aqua;
}

#social-media-logos img
{
    text-align: center;
    margin: auto;
    width: 10%;
    height: auto;
    display: inline-block;
}