html, body
{
    width: 100%;
    height: 4000px;
    background-color: rgb(18, 13,10);
    /*background-image: url(header.png);
    background-size:contain;
    background-repeat: no-repeat;*/
    overflow-x: hidden;
}

#page-one
{
    width: 100%;
    height: 25%;
    overflow-y: hidden;
    margin: auto;
}

#page-one img
{
    width: 100%;
}

#page-two
{
    width: 100%;
    height: 25%;
}

.antegods-text
{
    width: 80%;
    height: 1080px;
    margin: auto;
}

.antegods-text img
{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}

.center-text
{
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 26px;
    color: rgb(255,139,121);
}

#page-three
{
    width: 80%;
    height: 1000px;
    margin: auto;
}

.fluidMedia 
{
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe 
{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}