html, body
{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(18,13,10);
    font-family: 'Roboto Condensed', sans-serif;
}

#header-container
{
    height: auto;
    width: 100%;
    margin: auto;
    background-color: rgb(18,13,10);
}

#header-menu
{
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    font-size: 1vw;
    font-weight: bold;
    /*font-family: 'Roboto Condensed', sans-serif;*/
}

#header-menu li
{
    float: left;
    margin-right: 2.5%;
}

#header-menu li a
{
    display: block;
    color: rgb(255,139,121);
    text-align: center;
    text-decoration: none;
    padding: 6px;
}

#header-menu li a:hover:not(.active)
{
    background-color: rgb(68,13,10);
}

#background-image-plus-logo
{
    width: 100%;
    height: 50vw;
    margin: auto;
    margin-bottom: 10%;
}

#antegods-header-image
{
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
}

#antegods-header-image img
{
    width: 100%;
    height: auto;
    margin: auto;
}

#antegods-logo
{
    width: 35%;
    height: auto;
    margin: auto;
    position: relative;
}

#antegods-logo img
{
    width: 100%;
    height: auto;
    margin: auto;
}

#antegods-logo h2
{
    text-align: center;
    margin: auto;
    font-size: 2vw;
    color: aliceblue;
}

#antegods-logo h3
{
    text-align: center;
    margin: auto;
    margin: 1%;
    font-size: 1.5vw;
    color: aliceblue;
}

#antegods-body-logo
{
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 2.5%;
}

#antegods-body-logo img
{
    width: 75%;
    height: auto;
    margin: auto;
}

#antegods-body-container
{
    width: 35%;
    text-align: center;
    height: auto;
    margin: auto;
    color: rgb(255,139,121);
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 1.5vw;
    line-height: 3vw;
    padding: 12px;
    border-bottom: 2px solid;
    border-bottom-color: rgb(112,61,54);
}

@media only screen and (max-width: 479px)
{
    #antegods-body-container
    {
        width: 90%;
    }
}

.videoWrapper 
{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-text
{
    text-align: center;
    width: 80%;
    font-size: 2vw;
    color: rgb(255,139,121); 
    margin: auto;
}

.video-subtext
{
    text-align: center;
    font-size: 1.5vw;
    color: rgb(112,61,54);
    margin: auto;
    width: 80%;
    margin-top: -5%;
}

.antegods-media-container
{
    position: relative;
    width: 40%;
    height: auto;
    margin: auto;
}

.antegods-screenshot-container-parent
{
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
}

.antegods-media-container-text
{
    width: 100%;
    height: 5%;
    font-size: 2vw;
    color: rgb(255,139,121);
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    /*border-bottom: 2px solid;*/
}

.antegods-media-container-text h2
{
    text-align: center;
    margin: auto;
}

.media-container
{
    position: relative;
    height: auto;
    /*display: inline-block;*/
    width: 90%; /*47.5%*/
    margin: 0 auto;
    padding: 2.5%;
}

.media-container-screenshots
{
    height: auto;
    width: 42.5%;
    display: inline-block;
    margin: auto;
    margin: 1%;
}

.media-container-screenshots img
{
    width: 100%;
    height: auto;

}
/*.antegods-awards-position
{
    position: relative;
    width: 33.3%;
    height: auto;
    margin: auto;
    float: left;
    padding-bottom: 5%;
}
*/
    /*<#1> ^Deze code is voor oneven aantal images. Uncomment #1 en comment #2 om te gebruiken */

.antegods-awards-position
{
    float: left;
    width: 33%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}
    /* <#2> ^ Deze code is voor even aantal images. Comment #1 en uncomment #2 */

.antegods-awards-position img
{
    width: 100%;
    height: auto;
    margin: auto;
}

.antegods-social-media-container
{
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 5%;
}

.social-media
{
    position: relative;
    width: 33%;
    height: auto;
    display: inline-block;
    margin: auto;
    text-align: center;
    float: left;
}

.social-media h5
{
    font-size: 1.5vw;
    margin: auto;
    color: rgb(255,139,121);
    float: left;
    margin-left: 2.5%;
}

.social-media img
{
    max-width: 256px !important;
    height: auto;
    width: 15%;
    float: left;
    /*margin-left: 15%;*/
}

.social-media a
{
    text-decoration: none;
}

#mc_embed_signup
{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-top: 2px solid rgb(112,61,54);
}

#mc_embed_signup form 
{
    position: relative; 
    text-align: center;
    margin: auto;
    background: rgb(18,13,10);
    
}

::-webkit-input-placeholder 
{
    color: rgb(255,139,121);
    text-align: center;
}
 
:-moz-placeholder 
{ /* Firefox old */
    color: rgb(255,139,121);
    text-align: center;
}
 
::-moz-placeholder 
{ /* Firefox new */
    color: rgb(255,139,121);
    text-align: center;
}
 
:-ms-input-placeholder 
{
    color: rgb(255,139,121);
    text-align: center;
}
 
#mc_embed_signup input 
{ 
    border: 0px solid rgb(255,139,121); 
    -webkit-appearance: none; 
    
}

#mc_embed_signup input[type=checkbox]
{ 
    -webkit-appearance: checkbox; 
}

#mc_embed_signup input[type=radio]
{ 
    -webkit-appearance: radio; 
}
 
#mc_embed_signup .button 
{
    display: block;
    position: relative;
    background-color: rgb(255,139,121);
    padding: 0;
    margin: 0 auto;
    border: 0 none;
    cursor: pointer;
    font-size: 1.3vw;
    width: 10vw;
    height: auto;
    line-height: 2.5vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;  
    float: left;
}

#mc_embed_signup .button:hover 
{ 
    background-color: rgb(255,165,145);
    
}

#mc_embed_signup label 
{ 
    width: 100%;
    display: block; 
    font-size: 1.5vw; 
    color: rgb(255,139,121); 
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#mc_embed_signup input.email 
{
    display: block;
    position: relative;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    margin: auto;
    font-size: 1.3vw;
    font-weight: bold;
    width: 50%;
    height: auto;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: rgb(112,61,54);
    float: left;
    margin-left: 10%;
    margin-right: 2.5%;
}

#mc_embed_signup input.email:focus 
{ 
    background: rgb(18,13,10);
    color: rgb(255,139,121); 
}

.clear-div
{
    clear: both;
}

#trademark-text
{
    text-align: center;
    font-size: 1.2vw;
    color: rgb(255,139,121);
    margin: auto;
    margin-top: 2.5%;
}

.hvr-underline-from-center 
{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before 
{
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgb(255,139,121);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before
{
  left: 0;
  right: 0;
}